<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} [%thread] %highlight(%-5level) [traceId:%X{traceId},spanId:%X{spanId},tenantId:%X{tenantId}] %cyan(%logger{36}) - %highlight(%msg%n)</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
